<!-- Start Breadcrumb -->
<div class="breadcrumb-holder">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">About Us</li>
    </ol>
  </div>
</div>

<!-- End Breadcrumb -->

<!-- Start Section About Us Intro -->

<section class="about-us text-center">
  <div class="container">
    <h1>About Us</h1>
    <hr />
    <p class="lead">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />
      Laborum facere suscipit fuga ipsa quod rem accusamus rerum fugit quas
      eaque!
    </p>
    <img
      class="img-thumbnail"
      src="Images/company_team.jpg"
      alt="company_team"
    />
  </div>
</section>

<!-- End Section About Us Intro -->

<!-- Start About Features -->

<section class="about-features text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- col-lg-4 col-md-4 col-sm-4 col-12 -->
        <i class="fa fa-code fa-5x"></i>
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          aperiam eligendi, quibusdam quisquam rerum autem amet fugiat ipsum
          tempora natus?
        </p>
      </div>
      <div class="col-sm-4">
        <!-- col-lg-4 col-md-4 col-sm-4 col-12 -->
        <i class="fa fa-child fa-5x"></i>
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          aperiam eligendi, quibusdam quisquam rerum autem amet fugiat ipsum
          tempora natus?
        </p>
      </div>
      <div class="col-sm-4">
        <!-- col-lg-4 col-md-4 col-sm-4 col-12 -->
        <i class="fa fa-group fa-5x"></i>
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          aperiam eligendi, quibusdam quisquam rerum autem amet fugiat ipsum
          tempora natus?
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End  About Features -->

<!-- Start Aboud CEO -->

<section class="about-ceo">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img class="img-fluid" src="Images/ceo.png" alt="CEO" />
      </div>
      <div class="col-sm-7">
        <h2 class="h1">Lorem ipsum dolor sit amet.</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          exercitationem ea dolorum, quaerat ducimus officia dicta ipsum ipsam
          molestias quod ut dignissimos impedit et vitae animi facere
          distinctio. Eveniet, ea.
        </p>
        <a href="#" class="btn btn-primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<!-- End Aboud CEO -->
