<!-- --------Start Carousel ---------- -->

<div id="Slides" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#Slides" data-slide-to="0" class="active"></li>
    <li data-target="#Slides" data-slide-to="1"></li>
    <li data-target="#Slides" data-slide-to="2"></li>
    <li data-target="#Slides" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../Images/S01.jpg" width="1280" height="460" class="img-fluid" alt="Pic 1" />
    </div>

    <div class="carousel-item">
      <img src="../Images/S02.jpg" width="1280" height="460" class="img-fluid" alt="Pic 2" />
    </div>

    <div class="carousel-item">
      <img src="../Images/S03.jpg" width="1280" height="460" class="img-fluid" alt="Pic 3" />
    </div>

    <div class="carousel-item">
      <img src="../Images/S04.jpg" width="1280" height="460" class="img-fluid" alt="Pic 4" />
    </div>

  </div>
  <a class="carousel-control-prev" href="#Slides" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#Slides" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- --------End Carousel ---------- -->

<!-- --------Start Section About ---------- -->

<section class="about text-center wow bounceIn" data-wow-duration="2s" data-wow-offset="300">

  <div class="container" style="margin-top:30px;">

    <h2 class="h1"> Welcome to <img class="img-fluid" width="250" src="../Images/Reeras/reeraswordlogo1.png" alt="Reeras Logo" />
      Official Website </h2>

  </div>
</section>

<!-- --------End Section About ---------- -->

<!-- --------Start Section Features -------->

<section id="services" class="features text-center">
  <div class="container">
    <h2 class="h1">Our Services</h2>
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="feat wow bounceInDown" data-wow-duration="2s" data-wow-offset="200">
          <i class="fas fa-microchip"></i>
          <h3>Hardware Development</h3>
          <p>
            Design and develop your project and your printed circuit board with us
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat wow bounceInUp" data-wow-duration="2s" data-wow-offset="200">
          <i class="fas fa-laptop-code"></i>
          <h3>Web Development</h3>
          <p>
            Design your website from start to finish in record time with more security, stability and professionalism
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat wow bounceInDown" data-wow-duration="2s" data-wow-offset="200">
          <i class="fas fa-cube"></i>
          <h3>3D Printing</h3>
          <p>
            Design and print any shapes with best material , Lower prices and High accuracy
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat wow bounceInUp" data-wow-duration="2s" data-wow-offset="200">
          <i class="fas fa-sitemap"></i>
          <h3>Reservation Domain Name </h3>
          <p>
            Reserve a domain for your website (.com,.net,.co,....and more domain names) for affordable price </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- --------End Section Features ------  -->

<!-- --------Start Section Price Table  ------  -->

<section class="price text-center">
  <div class="container">
    <h2 class="h1">Our Offers</h2>

    <div class="row">
      <div class="offset-lg-3 col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="price_box wow fadeInUp" data-wow-duration="2s" data-wow-offset="400">
          <h2 class="text-primary">Domain</h2>
          <p class="d-block mx-auto">550EGP</p>
          <ul class="list-unstyled">
            <li>for the first year</li>
            <li>.com</li>

          </ul>
          <a href="mailto:info@reeras.net?subject=Request for offer of domain name (.com) reservation  &body=" class="btn btn-primary">Order Now</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="price_box wow fadeInDown" data-wow-duration="2s" data-wow-offset="400">
          <h2 class="text-success">Domain</h2>
          <p class="d-block mx-auto">700EGP</p>
          <ul class="list-unstyled">
            <li>for the first year</li>
            <li>.net</li>

          </ul>
          <a href="https://wa.link/176za9" class="btn btn-success">Order Now</a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- --------End Section Price Table  ------  -->

<!-- --------Start Section Our Team  ------  -->

<section class="our-Team text-center">
  <div class="team">
    <div class="container">
      <h2 class="h1">Meet Our Team</h2>
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="person wow pulse" data-wow-duration="1s" data-wow-offset="400">
            <img class="rounded-circle" src="../Images/Reeras/CEO%20&%20Founder.jpg" width="200" height="200" alt="Steven Roberts" Keywords=" Steven Roberts , Adham Ceo , Reeras ceo" />
            <h3>Steven Roberts</h3>
            <p>
              CEO & Founder
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="person wow pulse" data-wow-duration="1s" data-wow-offset="400">
            <img class="rounded-circle" src="../Images/Reeras/CFO.jpg" width="200" height="200" alt="Frederick Sanchez" />
            <h3>Frederick Sanchez</h3>
            <p>
              CFO
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="person wow pulse" data-wow-duration="1s" data-wow-offset="400">
            <img class="rounded-circle" src="../Images/Reeras/CTO.jpg" width="200" height="200" alt="Veronica Fletcher" />
            <h3>Veronica Fletcher</h3>
            <p>
              CTO
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="person wow pulse" data-wow-duration="1s" data-wow-offset="400">
            <img class="rounded-circle" src="../Images/Reeras/Designer-of-Smart-Bags.jpg" width="200" height="200" alt="Natalie Peters" />
            <h3>Natalie Peters</h3>
            <p>
              Designer of Smart Bags
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- --------End Section Our Team  ------  -->

<!-- --------Start Section Stats  ------  -->

<section class="statistics text-center">
  <div class="Data">
    <div class="container">
      <h2 class="h1">Our Main Statistics</h2>
      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="stats">
            <i class="fa fa-users fa-5x"></i>
            <p>73</p>
            <span>Our Clients</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="stats">
            <i class="fa fa-comments fa-5x"></i>
            <p>708</p>
            <span>Services Done</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="stats">
            <i class="fa fa-suitcase fa-5x"></i>
            <p>576</p>
            <span>Projects Done</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- --------End Section Stats  ------  -->

<!-- --------Start Section Our SKills  ------  -->

<section class="our-skills">
  <div class="container">
    <h2 class="text-center h1">Our Skills</h2>
    <div class="row">
      <!-- --------Start Progress Skills  ------  -->

      <div class="col-lg-5 col-md-5">
        <div class="skills-progress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              HTML5 / CSS3
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
              Js
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 85%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
              BootStrap3,4
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 72%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
              PHP
            </div>
          </div>
        </div>
      </div>
      <!-- --------End Progress Skills 1  ------  -->

      <!-- --------Start Progress Skills 2  ------  -->
      <div class="offset-lg-1 col-lg-5 offset-md-1 col-md-5">
        <div class="skills-progress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated danger" role="progressbar" style="width: 92%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              Hardware Development
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated blue" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              C/C++
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated blue" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              Dart / Flutter
            </div>
          </div>

        </div>
      </div>
      <!-- --------End Progress Skills 2  ------  -->
    </div>
  </div>
</section>

<!-- --------End Section Our SKills  ------  -->

<!-- --------Start Section Contact Us  ------  -->

<section id="contactUs" class="contact-us text-center">
  <div class="fileds">
    <div class="container">
      <i class="fa fa-headphones fa-5x"></i>
      <h2 class="h1">Contact Us</h2>
      <p>At Anytime</p>

      <!-- --------Start Contact Form   ------  -->

      <form role="form" id="frmContact" action="" method="POST">
        <div class="row">

          <div class="col-lg-6 col-md-6 wow bounceInLeft" data-wow-duration="1s" data-wow-offset="200">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Name" required />
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-group">
              <input type="tel" class="form-control form-control-lg" id="phone" name="phone" placeholder="Phone" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" id="sub" name="sub" placeholder="Subject" required />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow bounceInRight" data-wow-duration="1s" data-wow-offset="200">
            <div class="form-group">
              <textarea class="form-control form-control-lg" id="comment-content" name="content" placeholder="Your Message" required></textarea>
              <div class="g-recaptcha" data-sitekey="<?php echo SITE_KEY; ?>"></div>
              <div id="mail-status"></div>
            </div>
          </div>

        </div>
        <input type="submit" id="send-message" class="sub btn btn-primary btn-lg btn-block " value="Contact Us" />
      </form>
      <div id="loader-icon" style="display:none;"><img src="../Images/loader.gif" width="33" height="33" /></div>
    </div>

    <!-- --------End Contact Form   ------  -->
  </div>
  </div>
</section>

<!-- --------End Section Contact Us  ------  -->

<!-- --------Start Section Our Clients  ------  -->

<section class="our-client">
  <div class="container">
    <!-- <div class="row"> -->
    <ul class="row list-unstyled">
      <li class="col-lg-4 col-md-4 col-sm-6 col-6">
        <img class="img-fluid d-block mx-auto wow bounceIn" src="../Images/our-clients/1.png" width="126" height="28" alt="NewTech" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="0.5s" />
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-6">
        <img class="img-fluid d-block mx-auto wow bounceIn" src="../Images/our-clients/2.png" width="126" height="28" alt="puro" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="1s" />
      </li>
      <li class="col-lg-4 col-md-4 col-sm-6 col-6">
        <img class="img-fluid d-block mx-auto wow bounceIn" src="../Images/our-clients/3.png" width="126" height="28" alt="Diwan" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="1.5s" />
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>

<!-- --------End Section Our Clients  ------  -->

<!-- --------Start Section Loading  ------  -->

<section class="loading-overlay">
  <div class="spinner">
    <div class="double-bounce1"><img class="img-fluid" src="../Images/Reeras/logoLooding.png" alt="Logo"></div>
    <div class="double-bounce2"><img class="img-fluid" src="../Images/Reeras/logoLooding.png" alt="Logo"></div>
  </div>
</section>

<!-- --------End Section Loading  ------  -->