<!-- --------Start Section Footer  ------  -->

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="copyRight text-center" style="margin: auto; margin-top: 20px">
        <ul class="list-unstyled social-list" style="margin: auto">
          <li>
            <a href="****Facebook.com/****" target="_blank">
              <img
                src="../Images/social-bookmarks/facebook.png"
                width="40"
                height="40"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="****instagram.com/****" target="_blank">
              <img
                src="../Images/social-bookmarks/Insta.png"
                width="40"
                height="40"
                alt="rss"
            /></a>
          </li>

          <li>
            <a href="****Twitter.com/****" target="_blank">
              <img
                src="../Images/social-bookmarks/twitter.png"
                width="40"
                height="40"
                alt="twitter"
            /></a>
          </li>
          <li>
            <a
              href="****linkedin.com/company/****"
              target="_blank"
            >
              <img
                src="../Images/social-bookmarks/In.png"
                width="40"
                height="40"
                alt="pinterest"
            /></a>
          </li>
          <li>
            <a href="https://wa.link/*******" target="_blank">
              <img
                src="../Images/social-bookmarks/wa.png"
                width="40"
                height="40"
                alt="whatsapp"
            /></a>
          </li>
          <li>
            <a
              href="****youtube.com/c/****nologies"
              target="_blank"
            >
              <img
                src="../Images/social-bookmarks/youTube.png"
                width="40"
                height="40"
                alt="email"
            /></a>
          </li>
          <li>
            <a href="mailto: info@*****.net">
              <img
                src="../Images/social-bookmarks/gplus.png"
                width="40"
                height="40"
                alt="gplus"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyRight text-center" style="margin-top: -10px">
    <div class="copyRight text-center">
      <span>Saleh; Inc.</span> <br>
      Made With <i class="fa fa-heart"></i> By Saleh Mahmoud &copy; 2020
    </div>
  </div>
</section>

<!-- --------End Section Footer  ------  -->
