<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- First Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- IE Compalility Meta  -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      Keywords=""
    />
    <title> Technologies</title>
    <link rel="icon" type="image/png" href="../Images/Reeras/fevicon.png" />
    <link rel="Stylesheet" href="../css/bootstrap.min.css" />
    <link rel="Stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="Stylesheet" href="../css/style.min.css" />
    <link rel="stylesheet" href="../css/pages.min.css" />
    <link rel="stylesheet" href="../css/rate.css" />
    <link rel="Stylesheet" href="../css/media.min.css" />
    <link rel="Stylesheet" href="../css/blue-theme.min.css" />
    <link rel="Stylesheet" href="../css/animate.min.css" />
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:900"
    />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/Respond.js"></script>
    <![endif]-->
  </head>
</html>
