<!-- --------Start Nav---------- -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <div class="container">
    <a class="navbar-brand" href="../index.php">
      <img
        class="img-fluid"
        width="200"
        height="50"
        src="../Images/Reeras/reeras logo 1.png"
        alt="Reeras Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#Down"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Down">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.php"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Pages/portfolio.php">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Pages/rating.php">Rating Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- --------End Nav---------- -->
