<!-- Start Portfolio  -->
<div class="outer-container blog-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-6 no-padding">
        <div class="blog-content flex">
          <figure>
            <a href="../Images/Portfolio/1.png"
              ><img src="../Images/Portfolio/min-1.png" alt=""
            /></a>
          </figure>

          <div
            class="entry-content flex flex-column justify-content-between align-items-start"
          >
            <header>
              <h3>
                <a href="../Images/Portfolio/1.png"
                  >Creating A Simple Page For Exercises
                </a>
              </h3>

              <div class="posted-by">Saleh Mahmoud</div>
            </header>

            <footer class="flex flex-wrap align-items-center">
              <div class="posted-on">August 2020</div>

              <ul class="flex flex-wrap align-items-center">
                <li><a href="#">Portfolio,</a></li>
                <li><a href="#">Design</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6 no-padding">
        <div class="blog-content flex">
          <figure>
            <a href="../Images/Portfolio/2.png"
              ><img src="../Images/Portfolio/min-2.png" alt=""
            /></a>
          </figure>

          <div
            class="entry-content flex flex-column justify-content-between align-items-start"
          >
            <header>
              <h3>
                <a href="../Images/Portfolio/2.png"
                  >Creating A Simple Portfolio For A Company</a
                >
              </h3>

              <div class="posted-by">Saleh Mahmoud</div>
            </header>

            <footer class="flex flex-wrap align-items-center">
              <div class="posted-on">August 2020</div>

              <ul class="flex flex-wrap align-items-center">
                <li><a href="#">Portfolio,</a></li>
                <li><a href="#">Design</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6 no-padding">
        <div class="blog-content flex flex-xl-row-reverse">
          <figure>
            <a href="../Images/Portfolio/3.png"
              ><img src="../Images/Portfolio/min-3.png" alt=""
            /></a>
          </figure>

          <div
            class="entry-content flex flex-column justify-content-between align-items-start"
          >
            <header>
              <h3><a href="../Images/Portfolio/3.png">Company Website</a></h3>

              <div class="posted-by">Saleh Mahmoud</div>
            </header>

            <footer class="flex flex-wrap align-items-center">
              <div class="posted-on">August 2020</div>

              <ul class="flex flex-wrap align-items-center">
                <li><a href="#">Portfolio,</a></li>
                <li><a href="#">Design</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container-fluid -->
</div>
<!-- .outer-container -->
<!-- End Portfolio  -->
