<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/Plugins.js"></script>
<script src="js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="component/jquery/jquery-3.2.1.min.js"></script>
<script src="js/constant.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function() {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = "https://embed.tawk.to/5f4bb4d5cc6a6a5947b01ae1/default";
    s1.charset = "UTF-8";
    s1.setAttribute("crossorigin", "*");
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->